@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.description {
    @include modal-description;

    margin-top: 1.25rem;
}

.error {
    @include modal-description;

    color: $red;
    margin-top: 0.5rem;
}
