@use '@/styles/mixins' as *;

.sign-in-page {
    @include full-height;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1.5rem;

    button {
        @include solid-accent-button;
    }
}
