@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.run-page {
    @include full-height;

    padding: 1.5rem;

    .title {
        @include mono-label;

        font-size: 1.75rem;
        margin: 0 0 1rem;
    }

    @media (width <= 768px) {
        padding: 1rem;
    }
}
