@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.split-tab {
    padding: 1.5rem 0;

    .header {
        @include mono-label;

        font-size: 1.25rem;
        margin: 0 0 1rem;
    }

    .locations {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-top: 1.5rem;
    }
}
