@use '@/styles/constants' as *;

.stats {
    border-collapse: collapse;
    font-size: 0.75rem;
    width: 100%;

    th,
    td {
        padding: 0.15rem 0.3rem;
        text-align: center;
    }

    thead th {
        color: $text-mid;
        font-size: 0.65rem;
        text-transform: uppercase;
    }

    .stat-label {
        color: $text-mid;
        text-align: left;

        .label-text {
            position: relative;
        }

        svg {
            height: 1.1rem;
            width: 1.1rem;
        }

        .faster-icon,
        .slower-icon {
            left: 100%;
            margin-left: 0.3rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .faster-icon {
            color: $red;
        }

        .slower-icon {
            color: $blue;
        }
    }

    .total {
        font-weight: 700;
    }

    .boost-cell {
        width: 4.5rem;
    }
}
