@use 'sass:color';
@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.battle-card {
    border: 1px solid $border-subtle;
    border-radius: 0.5rem;
    overflow: hidden;
    width: fit-content;

    .label {
        @include mono-label;

        background: color.adjust($background, $lightness: 4%);
        color: $text-mid;
        display: block;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        padding: 0.4rem 0.75rem;
        text-transform: uppercase;
    }

    .content {
        padding: 0.75rem;

        .name {
            @include mono-label;

            color: $foreground;
        }
    }
}
