@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.moves-tab {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;

    @media (width <= 768px) {
        flex-direction: column;
    }
}
