@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.types-page {
    @include full-height;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    .controls {
        align-items: center;
        display: flex;
        gap: 0.75rem;

        .label {
            @include mono-label;

            font-size: 0.9rem;
        }
    }
}
