@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.starter-select-modal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .columns {
        align-items: flex-start;
        display: flex;
        gap: 1.5rem;

        .starter-column {
            position: sticky;
            top: 0;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;

        .select {
            @include solid-accent-button;
        }
    }
}
