@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 1.5rem;
    width: 100%;

    .credit {
        color: $text-dim;
        font-family: $font-mono;

        .author {
            color: $accent;
        }
    }
}
