@use '@/styles/constants' as *;
@use '@/styles/mixins' as *;

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-content-width;
    padding: 1.5rem;
    width: 100%;

    .credit {
        color: $text-dim;
        font-family: $font-mono;

        .author {
            color: $accent;
        }
    }

    .link {
        color: $text-dim;
        transition: color 0.2s ease;

        svg {
            display: block;
            height: 1.75rem;
            width: 1.75rem;
        }

        @media (hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }
}
